mixin buildView( build )
  h3 #{build.simName} #{build.version}
  if build.startTime
    p Build Start Time: #{build.startTime}
  p Enqueue Time: #{build.enqueueTime}
  p Locales: #{build.locales}
  p Servers: #{build.servers}
  p Brands: #{build.brands}
  p Email: #{build.email}

html
  head
    title Build Server Status
    link(rel="shortcut icon" href="https://phet.colorado.edu/favicon.ico")
  body
    h1 Build Server Status
    p Report Time: #{currentTime}
    p Please note that this status report is not feature complete and may not always be correct. There is currently no handling for builds that error or otherwise fail to complete correctly. This report is a snapshot and should be refreshed manually to determine the latest status. Please report any problems or feature suggestions as a Github issue in the perennial repo.
    h2 Current Build
    if currentTask
      +buildView(currentTask)
    else
      p No build is in progress.
    h2 Current Queue
    if builds.length > 0
      ol
        each build in builds
          li
            +buildView(build)
    else
      p Queue is empty.
